.logo{
    background-color: #1e1e1d;
}
.logo img{
    width: 20%;
    height: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
.logo img:hover{
    width: 20.3%;
    height: 2.3%;
}

.banner-container{
    height: 600px;
    background-color: #1e1e1d;
    opacity: .7;
}
.banner-bg{
    background-image: url("image/sing-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
}
.banner > #tag{
    font-family: "Courier";
    position: absolute; 
    top: 250px; 
    left: 25%; 
    width: 50%; 
    color: white;
    font-size: 50px;
    text-align: center;
}
.search input{
    position: absolute;
    top: 500px;
    left: 30%;
    width: 450px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    font-family: "Courier";
    color: #1e1e1d;
    font-weight: bold;
}
.search-button{
    position: absolute;
    top: 501px;
    left: 60.5%;
    padding: 12px;
    border-radius: 5px;
    background-color: #eb4d15;
    border-color: #eb4d15;
    color: white;
    font-family: "Courier";
    font-size: 15px;
    font-weight: bold;
}
.trending{
    left: 2.5%;
    font-family: "Courier";
    position: absolute;
    color: white;
    top: 640px;
    background-color: #1e1e1d;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    width: 60%;
    box-shadow: #1e1e1d 2px 2px 1px;
}
.trending >#t-quote{
    padding: 15px;
    margin: 0px;
    font-size: 30px;
    left: 5%;
}
#t-genre{
    padding-left: 30%;
    font-size: 20px;
    font-weight: normal;
}
.trending img{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    margin-left: 5%;
    width: 40px;
    height: 40px;
}
#trending-all{
    position: relative;
    margin-top: 0px;
    padding: 12px;
    border-radius: 5px;
    background-color: #eb4d15;
    border-color: #eb4d15;
    color: white;
    font-family: "Courier";
    margin-left: 10px;
    font-weight: bold;
    border-radius: 20px;
    border-style: solid;
}
#downArrow{
    padding-right: 5px;
}
.quote-records{
    margin-top: 50px;
    padding: 2px;
    margin-left: 2.2%;
    width: 60%;
}
.quote-record{
    
    display: flex;
}
.quote-record img{
    margin: 10px 0px 10px 10px;
    width: 80px;
    height: 80px;
    border-radius: 2px;
    
}
.divider{
    background-color: #1e1e1d;
    border-radius: 2px;
}
.album:hover, .divider:hover{
    opacity: .9;
    box-shadow: #1e1e1d 2px 2px 1px; 
    font-size: 21px;
}
.quote-record p{
    margin-left: 3%;
    margin-top: 4%;
    color: white;
    font-family: "Courier";
    font-size: 20px;
    
}
li a{
    all: unset;
}
.air-quotes{
    font-size: 30px;
}
.quote-details{
    float: initial;
    color: white;
    font-size: 18px;
    margin: 5px 0px 5px 20px;
}
.artist-name{
    color: white;
    font-size: 20px;
}
.quote-details img{
    width: 20px;
    height: 20px;
}
.quote-details-small{
    font-size: 15px;
}
.full-trending-button{
    margin-left: 40%;
    padding: 12px;
    background-color: #eb4d15;
    border-color: #eb4d15;
    color: white;
    font-family: "Courier";
    font-weight: bold;
    border-radius: 20px;
    border-style: solid;
}
.col{
    float: left;
}
#trending-all:hover, button:hover{
    background-color: grey;
    border-color: grey;
}
.featured{
    font-family: "Courier";
    margin: -4% 0% 0% 5%;
    padding: 0% 5% 0% 5%;
    font-size: 30px;
    color: white;
    background-color: #1e1e1d;
    box-shadow: #1e1e1d 2px 2px 1px;   
}
.albums{
    float: right;
    margin-right: 10%;
    width: 22%;
    margin-top: 1.2%;
    margin-left: 5%;
}
.album p{
    display: inline;
    color: white;
    font-size: 20px;
    font-family: "Courier";
}
.albums img{
    padding: 5% 5% 5% 5%;
    border-radius: 5px;
    width: 80px;
    height: 80px;
}
.album{
    background-color: #1e1e1d;
    padding: 0% 0% 10% 0%; 
    margin-bottom: 10%;
}
.mid-section{
    width: 99%;
    display: block;
    position: absolute;
    top: 1700px;
}
.mid{
    background-color: #e3dddc;
    padding: 5% 10% 5% 35%;
    font-size: 40px;
    font-family: "Courier";
    font-weight: bold;
    
}
.mid img{
    width: 60px;
    height: 40px;
}
footer{
    width: 99%;
    display: block;
    position: absolute;
    top: 2020px;
    color: white;
}
footer ul{
    padding: 5% 0% 5% 5%;
    background-color: black;
    list-style-type: none;
}
footer ul li{
    margin-bottom: 1%;
}
#symph-copy{
    font-size: 25px;
}